<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <form #f="ngForm" (ngSubmit)="submit()">

        <div class="form-group">
          <label for="car-make">Car Make</label>
          <input type="text" class="form-control" id="car-make" aria-describedby="carMake" placeholder="Enter Car Make" required name="car.make" ngModel>
        </div>

        <div class="form-group">
          <label for="car-model">Car Model</label>
          <input type="text" class="form-control" id="car-model" placeholder="Enter Car Model" required name="car.model" ngModel>
        </div>

        <div class="form-group">
          <label for="car-year">Car Year</label>
          <input type="number" class="form-control" id="car-year" placeholder="Enter Car Year" required name="car.year" ngModel>
        </div>

        <div class="row justify-content-around">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">{{id ? "Update" : "Create"}}</button>
          <button type="button" class="btn btn-primary" (click)="clear">Clear</button>
        </div>

      </form>

      <div class="alert alert-danger" role="alert" *ngFor="let error of errors" style="margin: 1rem 0;">
        {{error}}
      </div>
    </div>
  </div>
</div>
